body{
    background-image: url("../background.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar h3{
    color: orange;
    font-size: 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar ul{
    color: white;
    list-style: none;
    display: flex;
    gap: 2rem;
}
.navbar ul li{
    font-size: 1.4rem;
    font-weight: bold;
} 
.liactive{
    color: orange;
}
button{
    font-size: 1rem;
    background-color: orange;
    font-weight: 800;
    border-radius: 2rem;
    padding: 1rem;
    color: white;
    border: none;
}
.outfitbold {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }
  .mainbody{
    color: white;
    display: flex;
    align-items: center;
    gap: 15rem;
    padding: 3rem;
    margin: 0rem 3rem;
  }
  .desc h3{
    color: orange;
    font-size: 3rem;
  }
  .desc p{
    font-weight: bolder;
  }
